body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}
.navbar {
  height: 5rem;
  background: white;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important; /*  use to overwrite bootstrap */
}
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links {
  width: 100%;
}
.f-info-socials,
.f-info-brand {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-left: 2rem;
}
.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}
.add-btn {
  background-color: #fe424d !important;
  border: transparent !important;
}
.edit-btn {
  color: #fff !important;
  background-color: #222222 !important;
}

.show-img {
  height: 30vh;
}
.btns {
  display: flex;
}
.show-card {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* MAP */
#map {
    height: 400px;
    width: 100vh;
}
